# --- Dependências ---
node_modules/

# --- Cache e cobertura ---
coverage/

# --- Arquivos de ambiente ---
.env
.env.*
*.local

# --- Logs e Arquivos de Erro ---
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# --- Arquivos Temporários de Editores (Ex: Word) ---
~$*.docx

# --- Arquivos de editores e IDEs ---
.vscode/
.idea/

# --- Arquivos de Sistema ---
.DS_Store
Thumbs.db

# --- Pastas de Compilação/Build ---
dist/
build/

# --- Rascunhos ---
draft.html
